absl-py
asttokens
astunparse
backcall
bcrypt
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
debugpy
decorator
deepface
Deprecated
dnspython
email-validator
executing
filelock
fire
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
Flask-WTF
flatbuffers
itsdangerous
Jinja2
MarkupSafe
matplotlib
matplotlib-inline
matplotli
ml-dtypes
mnist
MouseInfo
mtcnn
nest-asyncio
nltk
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
parso
pickleshare
Pillow
pycparser
six
Werkzeug
wrapt
WTForms
wtforms-validators
